*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container{
    width: 60%;
    max-width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

h1.title{
    text-align: center;
    padding: 2rem 0;
    font-size: 5rem;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

p.my_text{
    padding: 2rem 0;
}

div.slide img{
    width: 100%;
    height: 600px;
    object-fit: contain;
}

div.previous{
    position: absolute;
    left: 0;
    padding-top: 10rem;

}

div.next{
    position: absolute;
    right: 0;
    padding-top: 10rem;
}

h2{
    text-align: center;
    padding-top: 5rem;
    color:rgb(10, 110, 32);
}

div.thumbnail img{
    height: 120px;
    width: 100%;

}